.page-top.animated.fadeInDown
  ul.nav
    li
      if is_home()
        a.current(href="/")= __('Home')					
      else
        a(href="/")= __('Home')	
    //- li
    //-   if is_current('about')
    //-     a.current(href="/about")= __('About')			
    //-   else
    //-     a(href="/about")= __('About')
    li
      if is_archive()
        a.current(href="/archives")= __('Archive')
      else
        a(href="/archives")= __('Archive')
    //- li
    //-   if is_current('links')
    //-     a.current(href="/links")= __('Links')					
    //-   else
    //-     a(href="/links")= __('Links')		
    li
      a(href="https://github.com/Godi13")=__('GitHub')
    li
      a(href="http://www.jianshu.com/u/9ed764919527")=__('简书')
  .information
    .back_btn
      span
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
